In [6]:
import pandas as pd

parquet_file_path = '/Users/eeyoontaek/Desktop/backpack_test/output/ecommerce_parquet/event_date=2019-10-03/'

df = pd.read_parquet(parquet_file_path, engine='pyarrow')

df_sorted = df.sort_values(by='event_time', ascending=True)
df_sorted.tail()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,event_time_kst
1166448,2019-10-03 05:59:59 UTC,view,11900000,2084217994270999025,None,None,115.83,555237422,bea04c95-1a99-42d9-9ada-2db64032867e,2019-10-03 14:59:59
1166447,2019-10-03 05:59:59 UTC,view,22700078,2053013556168753601,None,stels,180.18,541648026,e48017eb-2188-4f5c-855c-4a144ad997de,2019-10-03 14:59:59
1166460,2019-10-03 05:59:59 UTC,view,16200316,2053013556344914381,kids.fmcg.diapers,huggies,19.92,513197973,f4d528b5-42ae-43be-8b73-54c9acee3618,2019-10-03 14:59:59
1166453,2019-10-03 05:59:59 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,180.96,542176885,93f804b8-df6c-4493-95ee-fcdbf1866ae9,2019-10-03 14:59:59
1166461,2019-10-03 05:59:59 UTC,view,1306532,2053013558920217191,computers.notebook,hp,540.30,555368310,9b685811-2308-4302-a230-0258a0ee8f3b,2019-10-03 14:59:59